<link rel="stylesheet" href="../css/global.css">

<div class="card">
    <div class="card-titulo">
        <h3>Nome do Tutor</h3>
    </div>
    <div class="card-info">
        <p><strong>E-mail: </strong></p>

        <div class="linha">
            <p><strong>Telefone: </strong></p>
        </div>
    </div>
    <div class="card-btn">
        <a href="/pages/tutores-dados.html">
            <button class="btn-rosa">
                <img class="img-icon" src="../assets/info.png" alt="Informação">
            </button>
        </a>
    </div>
</div>