<div class="card">
    <div class="card-titulo">
        <h3>Nome do Animal</h3>
    </div>
    <div class="card-info">
        <p><strong>Espécie: </strong></p>

        <div class="linha">
            <p><strong>Raça: </strong></p>
        </div>
    </div>
    <div class="card-btn">
        <button class="btn-editar-animal btn-rosa">
            <img class="img-icon" src="../assets/editar.png" alt="Informação">
        </button>
        <button class="btn-rosa">
            <img class="img-icon" src="../assets/consulta.png" alt="Nova consulta">
        </button>
    </div>
</div>