<div class="card">
    <div class="card-titulo">
        <h3>Nome do Animal</h3>
    </div>
    <div class="card-info">
        <p><strong>Espécie: </strong></p>

        <div class="linha">
            <p><strong>Raça: </strong></p>
        </div>
    </div>
    <div class="card-btn">
        <button class="btn-editar-animal btn btn-secondary">
            <span class="material-symbols-outlined">
                edit
            </span>    
        </button>
        <button id="btn-historico-animal" class="btn btn-info">
            <span class="material-symbols-outlined">
                history
            </span>    
        </button>
        <button id="btn-nova-consulta" class="btn btn-primary">
            <span class="material-symbols-outlined">
                ecg_heart
            </span> 
        </button>
    </div>
</div>