<div class="card">
    <div class="card-titulo">
        <h3>{{nome}}</h3>
    </div>
    <div class="card-info">
        <p><strong>Espécie: </strong>{{especie}}</p>
        <p><strong>Raça: </strong>{{raca}}</p>
        <p><strong>Cor: </strong>{{cor}}</p>
    </div>
    <div class="card-btn">
        <button class="btn-editar-animal btn btn-secondary">
            <span class="material-symbols-outlined">edit</span>    
        </button>
        <a href="/pages/historico-animal.html?id={{id}}">
            <button class="btn btn-info">
                <span class="material-symbols-outlined">history</span>
            </button>
        </a>
        <button class="btn-nova-consulta btn btn-primary"
        data-id="{{id}}"
        data-nome="{{nome}}">
            <span class="material-symbols-outlined">ecg_heart</span> 
        </button>
    </div>
</div>