<div class="card">

    <div class="card-titulo">
        <h3>Nome do Animal</h3>
    </div>

    <div class="card-info">
        <p><strong>Veterinário:</strong></p>

        <div class="linha">
            <p><strong>Tutor: </strong></p>
            <p><strong>Data: </strong></p>
        </div>

        <p><strong>Motivo:</strong></p>
    </div>

    <div class="card-btn">
        <a href="/pages/consulta-dados.html">
            <button class="btn btn-info">
                <span class="material-symbols-outlined">info</span>
            </button>
        </a>
    </div>

</div>