.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: auto;
    border-radius: 10px;
    gap: 10px;
}

.flex-box-consultas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  justify-content: center;
  flex: 1;
  padding: 30px;
  gap: 15px;
  height: auto;
  background-color: var(--oliva);
  border-radius: 10px;
}