.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px 10px 10px 10px;
    height: auto;
    width: 90vw;
    border-radius: 15px;
    justify-self: center;
    gap: 25px;
    align-items: center;
    padding: 10px;
}

.flex-box-dados {
    display: flex;
    flex-direction: column;
    background-color:var(--verde-claro);
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    gap: 15px;
    color: var(--verde-escuro);
}

.dados {
    flex: 1;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 15px;
    align-content: center;
}


.flex-box-consulta {
    display: flex;
    background-color:var(--verde-claro);
    color: var(--verde-escuro);
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    margin: 20px 10px;
    font-size: 1em;
}

.consulta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consulta-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

h1 {
    color: var(--branco);
    font-size: 1.5em;
}

h2 {
    color: var(--verde-escuro);
    font-size: 1.5em;
}

span {
    color: var(--branco);
    font-size: 1.5em;
    font-weight: 600;
}

#modal-editar-consulta form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}