.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: auto;
    border-radius: 10px;
    gap: 10px;
}

.flex-box-veterinarios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  justify-content: center;
  flex: 1;
  padding: 30px;
  gap: 20px;
  height: auto;
  background-color: var(--verde-claro); 
  border-radius: 10px;
}

 .flex-box-veterinarios > p {
  color: var(--branco);
  font-size: 1em;
  font-weight: 600;
}